@charset "ISO-8859-1";
*, *::after, *::before {
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    padding: 0px;
    color: f2f2f2;
}

.login {
    width: 30%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px grey;
}

form#login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-label {
    font-weight: bold;
    color: #555;
    font-size: 17px;
}

.input-uname-password {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
}

#log {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#log:hover {
    background-color: #45a049;
}
